.jumbotron {
  background: url(/foto/1.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  margin-top: -50px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.jumbotron img {
  width: 250px;
  border: 1px solid #000;
}
.gambar img {
  width: 250px;
  border: 3px solid #000;
}
.garis hr {
  width: 250px;
  border-top: 3px solid #000;
}

.logo {
  font-family: "poppins", sans-serif;
  font-style: italic;
  font-size: large;
}
@media (max-width: 767.98px) {
  .jumbotron {
    padding-top: 35%;
  }
}
